body {
  font: 400 1em/1.5 "Neuton";
  background: #1d1d1d;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

.follow-me {
  list-style: none;
  overflow: hidden;
  margin: 2em 0 0 auto;
}
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}

.follow-me li a:hover::before {
  color: #fff;
}

.follow-me li a[href*="facebook.com"]::before {
  content: "\f09a"; 
}
.follow-me li a[href*="github.com"]::before { 
  content: "\f09b"; 
}
.follow-me li a[href*="linkedin.com"]::before { 
  content: "\f0e1"; 
}
.follow-me li a[href*="twitter.com"]::before { 
  content: "\f099"; 
}

.follow-me li a[href*="facebook.com"]:hover::before {
  background-color: #3b5998; 
}
.follow-me li a[href*="github.com"]:hover::before { 
  background-color: #0c0101; 
}
.follow-me li a[href*="linkedin.com"]:hover::before { 
  background-color: #0077b5; 
}
.follow-me li a[href*="twitter.com"]:hover::before { 
  background-color: #55acee; 
}


main {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  text-align: center;
  display: inline-block;
  margin: 15% auto;
}
main span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.33em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.footer {
  top: 200%;
}

.aboutme {
  background-color: #eee;
  color: #000000;
  text-align: left;
  position: absolute;
  width: 100%;
  top: 105%;
  padding-bottom: 45%;
}

.aboutme h1 {
  font-family: monospace;
  padding-top: 5%;
  padding-left: 5%;
}

.name {
  position: relative;
  top: 20px;
  font-size: 120%;
  text-align: center;
  line-height: 4px;
}

.name h2 {
  text-align: center;
  letter-spacing: 0.1em;
}

.name h3 {
  text-align: center;
  font-size: 80%;
  position: relative;
}

@media screen and (max-width: 499px) {
  .photo_and_description {
    position: relative;
    margin-top: 15%;
    text-align: center;
    width: 95%;
  }
  .photo_and_description p {
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    width: 90%;
  }
  .photo_and_description img {
    display: inline-block;
    text-align: center;
    margin: 10px auto; 
    width: 90%;
  }
  .blog {
    background-color: #eee;
    color: #000000;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 220%;
    padding-bottom: 35%;
  }
  .blog h1 {
    font-family: monospace;
    padding-top: 5%;
    padding-left: 5%;
  }
  .blog h2 {
    font-family: monospace;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .cp_link {
    position: relative;
    padding: 0.1em 0.3em;
    display: inline-block;
    transition: .3s;
    color: #FFA000;
  }
  .cp_link::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #FFA000;
    transition: .3s;
    transform: translateX(-50%);
  }
  .cp_link:hover::after {
    width: 100%;
  }
  .projects {
    background-color: #eee;
    color: #000000;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 250%;
    padding-bottom: 15%;
  }
  .projects h1 {
    font-family: monospace;
    padding-top: 5%;
    padding-left: 5%;
  }
}


@media screen and (min-width: 500px) {
  .photo_and_description {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 95%;
  }
  .photo_and_description p {
    display: inline-block;
    text-align: left;
    padding-top: 10%;
    padding-bottom: 20%;
    width: 50%;
  }
  .photo_and_description img { 
    display: inline-block;
    width: 30%;
    padding-left: 15%;
  }
  .blog {
    background-color: #eee;
    color: #000000;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 180%;
    padding-bottom: 15%;
  }
  .blog h1 {
    font-family: monospace;
    padding-top: 5%;
    padding-left: 5%;
  }
  .blog h2 {
    font-family: monospace;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .cp_link {
    position: relative;
    padding: 0.1em 0.3em;
    display: inline-block;
    transition: .3s;
    color: #FFA000;
  }
  .cp_link::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #FFA000;
    transition: .3s;
    transform: translateX(-50%);
  }
  .cp_link:hover::after {
    width: 100%;
  }
  .projects {
    background-color: #eee;
    color: #000000;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 210%;
    padding-bottom: 15%;
  }
  .projects h1 {
    font-family: monospace;
    padding-top: 5%;
    padding-left: 5%;
  }
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*# sourceMappingURL=main.css.map */
